{
  margin: 0;
  padding: 0;
}
body { 
  background: url('') no-repeat center center fixed; 
  background-color: #f0f0f0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 4px;
  font-size: 300%;
  text-shadow: 0px 1px 2px #ddd;
}

h2 {
  color: white;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 4px;
  font-size: 200%;
  text-shadow: 0px 1px 2px #ddd;
}

.folder {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 324px;
  height: 200px; 
  float: left;
  margin: 8px;
  border: 0px solid white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

a {
  text-decoration: none;
}


